<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!-- <script src='playerPopulate.js'</script> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <meta charset="utf-8">
    <title> FFTK </title>
  </head>

  <body>
    <div class="header">
      <div class="header-text">
        Fantasy Football Toolkit
      </div>
    </div>

    <div class="container-fluid">


      <div class="border row">
        <div class="border col-lg-4 col-xs-4">

          <div class="row">
            <button type="button" id='clear-button' class="btn btn-secondary btn-lg">Clear Table</button>


            <div class="col-md-2">
              <div class="dropdown" id='qbdropdown'>
                <button class="btn btn-default dropdown-toggle" type="button" id="qbButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="false">
                  QB
                  <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="qb">

                </ul>
              </div>
            </div>


            <div class="col-md-2">
              <div class="dropdown" id='rbdropdown'>
                <button class="btn btn-default dropdown-toggle" type="button" id="rbButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="false">
                  RB
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id='rb'>
                  <li><a href="#">Coming soon</a></li>
                </ul>
              </div>
            </div>


            <div class="col-md-2">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  WR
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Coming soon</a></li>

                </ul>
              </div>
            </div>


            <div class="col-md-2">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  K
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Coming soon</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-2">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  DEF
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Coming soon</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="border col-lg-8 col-xs-8">
          <table class="table table-striped" >
            <tbody id='stats-table'>
          </tbody>
          </table>

        </div>
      </div>
    </div>

    <script type="text/javascript" src='/js/playerPopulate.js'></script>
    <!-- <script type="text/javascript" src='/js/generatePlayerStats.js'></script> -->

  </body>

</html>
