<html lang="en">
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
  </head>

  <body>
    <div class="header">
      <div class="header-text">
        Fantasy Tool
      </div>
    </div>

    <div class="container-fluid">

      <div class="border row">
        <div class="border col-lg-6">THIS IS THE TALE</div>
        <div class="border col-lg-6">OF CAPTAIN JACK SPARROW</div>
      </div>

      <button class="btn btn-default" type="submit">Button</button>

    </div>


  </body>

</html>
