<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title> FFTK </title>
  </head>

  <body>
    <div class="header">
      <div class="header-text">
        Fantasy Football Toolkit
        <a href='/auth/yahoo' title='login with yahoo' class="btn login-btn"> Login with Y! </a>
      </div>
    </div>


    <div class="container-fluid">

      <div class="border row">
        <div class="border col-lg-4 col-xs-4">
          <!-- Single button -->
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Player
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Pl</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </div>

          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Defense
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Pl</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </div>

        </div>
        <div class="border col-lg-8 col-xs-8">
          <table class="table table-striped">
            <tr>
              <th> First name </th>
              <th> Last name </th>
              <th> Passing yards </th>
              <th> Rushing yards </th>
            </tr>

            <tr>
              <th> Eli </th>
              <th> Manning </th>
              <th> 1 </th>
              <th> 1 </th>
            </tr>

            <tr>
              <th> Marshawn </th>
              <th> Lynch </th>
              <th> 1 </th>
              <th> 1 </th>
            </tr>

          </table>

        </div>
      </div>
    </div>


  </body>

</html>
